{% extends 'hivefind/base.html' %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Job Cart</h2>
        <hr />
      </div>
    </div>
    <div class="row m-1">
      <table class="table table-bordered table-striped
        text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Employer</th>
          </tr>
        </thead>
        <tbody>
          {% for job in template_data.jobs_in_cart %}
          <tr>
            <td>{{ job.id }}</td>
            <td>{{ job.title }}</td>
            <td>{{ job.company }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="text-end">
      </div>
    </div>
  </div>
</div>
{% endblock content %}