{% extends 'hivefind/base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">

        <h2>{{ template_data.job.title }}</h2>
        <hr />

        <p><b>Description:</b> {{ template_data.job.description }}</p>
        <p><b>Company:</b> {{ template_data.job.company }}</p>
        {% if user.is_authenticated %}
        <div class="container mt-4">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow p-3 mb-4 rounded">
                <div class="card-body">
                  <b class="text-start">Add a note
                    </b><br /><br />
                  <form method="POST" action=
                    "{% url 'jobs.create_application' id=template_data.job.id %}">
                    {% csrf_token %}
                    <p>
                      <label for="note">note:</label>
                      <textarea name="note" required
                      class="form-control"
                      id="note"></textarea>
                    </p>
                    <div class="text-center">
                      <button type="submit"
                        class="btn bg-dark text-white">
                        Apply with Note
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <form method="post" action="{% url 'cart.add' id=template_data.job.id %}">

          {% csrf_token %}

          <div class="row">
            <div class="col-auto">
              <div class="input-group">
                

              </div>
            </div>

            <div class="col-auto">
              <button
                class="btn btn-dark"
                type="submit">
                Add to cart
              </button>
            </div>
          </div>

        </form>

        <!--{% if user.is_authenticated %}
        <form method="post" action="{% url 'applications.apply' id=template_data.job.id %}" class="mt-2">
          {% csrf_token %}
          <button class="btn btn-dark" type="submit">Apply</button>
        </form>
        {% endif %}
      -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}